<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>jQuery Load Example Timeline</title>
		<meta name="description" content="TimelineJS example">

		<!-- jQuery -->
		<script type="text/javascript" src="static/lib/jquery-min.js"></script>

		<!-- BEGIN TimelineJS -->
		<script type="text/javascript" src="static/js/storyjs-embed.js"></script>
		<script>
			$(document).ready(function() {
				createStoryJS({
					type:		'timeline',
					width:		'800',
					height:		'600',
					source:		'getjson',
					embed_id:	'my-timeline',
					debug:		true
				});
			});
		</script>
		<!-- END TimelineJS -->

	</head>

	<body>
        <div>
            {% if user.is_authenticated %}
            <p>欢迎 {{ user.username }}</p>
            {% else %}
            <p>* 使用 GitHub 网站帐号登录，无需注册</p>
            <a href="https://github.com/login/oauth/authorize?client_id=340293efd913dc19068a"><img src="https://github.com/apple-touch-icon-114.png"></a>
            {% endif %}
        </div>
		<div id="my-timeline"></div>

	</body>
</html>
